.logocustom{
    max-width: 30;
    max-height: 60;
}
.bg-brown{
    background-color: #DBB187;
}
.black{
    text-decoration-color: black;
}
.centrado{
    padding-right: 10px;
    padding-left: 10px;
}
.bg-total{
 background-color: #A88868;
}
.icono{
    font-size: 30px;
    color: black
}
.imgbanner{
    max-height: 450px;
}
.borde{
    border: 5px  #DBB187 solid;
}
.separado{
    padding-bottom: 3px;
}

